
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

    <form method="post">
        <h2>Ви впевнені, що хочете видалити акаунт?</h2>
        <button class="btn btn-lg btn-danger" type="submit">Так</button>
    </form>
