@using Kursach3.WebUI.Models
@using Kursach3.WebUI.HtmlHelpers
@model TestComplitingViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GoToTest</title>
</head>
<body>
    <div>
        @Model.Test.Theme
    </div>
</body>
</html>
